.body {
  background: linear-gradient(to bottom, #33ccff 0%, #0066ff 100%);
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 80%;
  margin: 5px;
  padding: 15px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.8); */
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  background: transparent;
}

.form {
  position: relative;
  background: #fff;
  padding: 32px;
  border-radius:10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 40%;
}

.title {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
  left:10%;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.button {
  background-color: #007bff; /* Primary button color */
  color: white; /* Button text color */
  padding: 10px; /* Padding inside button */
  border: none; /* Remove border */
  border-radius: 4px; /* Rounded corners for button */
  font-size: 16px; /* Button font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for background color */
  position: relative;
  left:40%;
}

.button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.switch {
  text-align: center; /* Center the switch text */
  margin-top: 20px; /* Space above the switch text */
}

.switchButton {
  background: none; /* No background */
  border: none; /* No border */
  color: #007bff; /* Link color */
  cursor: pointer; /* Pointer cursor on hover */
  text-decoration: underline; /* Underline for link effect */
}

.switchButton:hover {
  color: #0056b3; /* Darker shade on hover */
}

.error {
  background-color: #ffebee;
  color: #c62828;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  text-align: center;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.input:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
}
